<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="493830140157-o9ru1hs84lkscmupamj6u5r9tqdbv9qu.apps.googleusercontent.com">
    <title>KANBAN APP</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="style.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div id="app">
        <!-- START LOGIN -->
        <section class="login-block text-light" v-if="page === 'login'">
            <div class="container">
                <div class="row">    
                    <div class="col-md-4 banner-sec">   
                        <div class="signup__overlay"></div>          
                        <div class="banner">
                            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 login-sec">
                        <h2 class="text-center">Login</h2>
                        <form class="login-form validate-form" @submit.prevent="formLogin">
                            <div class="wrap-input100 validate-input">
                                <span class="label-input100 text-light">Email</span>
                                <input class="input" type="text" name="email" v-model="email">
                                <!-- <span class="focus-input100"></span> -->
                            </div>
                            <div class="wrap-input100 validate-input">
                                <span class="label-input100 text-light">Password</span>
                                <input class="input" type="password" name="password" v-model="password">
                                <!-- <span class="focus-input100 password"></span> -->
                            </div>
                            <div class="container-login-form-btn">
                                <div class="wrap-login-form-btn">
                                    <button class="btn btn-primary mr-2" @click.prevent="changePage('login')">
                                        Login
                                    </button>
                                    <button class="btn btn-primary mr-2" @click.prevent="changePage('register')">
                                        Register
                                    </button>
                                </div>
                            </div>
                            <div class="txt1 text-center p-t-54 p-b-20 mt-3">
                                <span>
                                    Login with google account here:
                                </span>
                                <div class="g-signin2" data-onsuccess="onSignIn" id="google-button"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- END LOGIN -->
        <!-- START REGISTER -->
        <section class="register-block text-light" v-else-if="page === 'register'">
            <div class="container">
                <div class="row">    
                    <div class="col-md-4 banner-sec">   
                        <div class="signup__overlay"></div>          
                        <div class="banner">
                            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 register-sec">
                        <h2 class="text-center">Register</h2>
                        <form class="register-form validate-form">
                            <div class="wrap-input100 validate-input">
                                <span class="label-input100 text-light">Username</span>
                                <input class="input" type="text" name="username">
                                <!-- <span class="focus-input100"></span> -->
                            </div>
                            <div class="wrap-input100 validate-input">
                                <span class="label-input100 text-light">Email</span>
                                <input class="input" type="text" name="email">
                                <!-- <span class="focus-input100"></span> -->
                            </div>
                            <div class="wrap-input100 validate-input">
                                <span class="label-input100 text-light">Password</span>
                                <input class="input" type="password" name="password">
                                <!-- <span class="focus-input100 password"></span> -->
                            </div>
                            <div class="container-register-form-btn">
                                <div class="wrap-register-form-btn">
                                    <button class="btn btn-primary mr-2" @click.prevent="changePage('login')">
                                        Login
                                    </button>
                                    <button class="btn btn-primary mr-2" @click.prevent="changePage('register')">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- END REGISTER -->
        <!-- START NAV -->
        <div v-else-if="page === 'home'">
            <nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-unique">
                <a class="navbar-brand" href="#">
                    <img src="./img/fox.png" alt="" width="30" height="25" class="d-inline-block align-text-top">
                        Kanban App
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> 
                                </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                                <span class="dropdown-item">user@mail.com</span>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- END NAV -->
            <!-- CONTENT TASK -->
            <div class="container1 mt-5">
                <div class="col-3">
                    <div class="card shadow-lg bg-white rounded1" style="max-width: 25vw;overflow: scroll;max-height: 100vh;">
                        <h4 class="text-center mt-2">Backlog</h4>
                        <hr>
                        <div class="card-body">
                            <div class="card text-dark bg-light mb-3 shadow-lg">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm">
                                            Title
                                        </div>
                                        <div class="col-sm offset-3">
                                            <a href="#" class="m-1"><img src="./img/edit.png" alt="edit" width="25rem" height="25rem"></a>
                                            <a href="#" class="m-1"><img src="./img/delete.png" alt="edit" width="25rem" height="25rem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-dark">Description:</p>
                                    <p class="card-text text-dark">Deadline:</p>
                                    <div class="m-2">
                                        <img src="./img/person.png" alt="person" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 d-inline"><small>username</small></p>
                                    </div>
                                    <div class="m-2">
                                        <img src="./img/email.png" alt="email" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 mb-2 d-inline"><small>user@email.com</small></p>
                                    </div>
                                    <a href="#" class="d-block d-flex justify-content-end mt-3"><img src="./img/next.png" alt="" width="50rem" height="50rem"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card text-dark bg-light mb-3 shadow-lg">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm">
                                            Title
                                        </div>
                                        <div class="col-sm offset-3">
                                            <a href="#" class="m-1"><img src="./img/edit.png" alt="edit" width="25rem" height="25rem"></a>
                                            <a href="#" class="m-1"><img src="./img/delete.png" alt="edit" width="25rem" height="25rem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-dark">Description:</p>
                                    <p class="card-text text-dark">Deadline:</p>
                                    <div class="m-2">
                                        <img src="./img/person.png" alt="person" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 d-inline"><small>username</small></p>
                                    </div>
                                    <div class="m-2">
                                        <img src="./img/email.png" alt="email" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 mb-2 d-inline"><small>user@email.com</small></p>
                                    </div>
                                    <a href="#" class="d-block d-flex justify-content-end mt-3"><img src="./img/next.png" alt="" width="50rem" height="50rem"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-lg bg-info rounded1" style="max-width: 25vw;overflow: scroll;max-height: 100vh;">
                        <h4 class="text-center mt-2">Todo</h4>
                        <hr>
                        <div class="card-body">
                            <div class="card text-dark bg-light mb-3 shadow-lg">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm">
                                            Title
                                        </div>
                                        <div class="col-sm offset-3">
                                            <a href="#" class="m-1"><img src="./img/edit.png" alt="edit" width="25rem" height="25rem"></a>
                                            <a href="#" class="m-1"><img src="./img/delete.png" alt="edit" width="25rem" height="25rem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-dark">Description:</p>
                                    <p class="card-text text-dark">Deadline:</p>
                                    <div class="m-2">
                                        <img src="./img/person.png" alt="person" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 d-inline"><small>username</small></p>
                                    </div>
                                    <div class="m-2">
                                        <img src="./img/email.png" alt="email" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 mb-2 d-inline"><small>user@email.com</small></p>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-1">
                                            <a href="#" class=""><img src="./img/prev.png" alt="" width="50rem" height="50rem"></a>
                                        </div>
                                        <div class="col-2 offset-7">
                                            <a href="#" class=""><img src="./img/next.png" alt="" width="50rem" height="50rem"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-lg bg-warning rounded1" style="max-width: 25vw;overflow: scroll;max-height: 100vh;">
                        <h4 class="text-center mt-2">Doing</h4>
                        <hr>
                        <div class="card-body">
                            <div class="card text-dark bg-light mb-3 shadow-lg">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm">
                                            Title
                                        </div>
                                        <div class="col-sm offset-3">
                                            <a href="#" class="m-1"><img src="./img/edit.png" alt="edit" width="25rem" height="25rem"></a>
                                            <a href="#" class="m-1"><img src="./img/delete.png" alt="edit" width="25rem" height="25rem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-dark">Description:</p>
                                    <p class="card-text text-dark">Deadline:</p>
                                    <div class="m-2">
                                        <img src="./img/person.png" alt="person" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 d-inline"><small>username</small></p>
                                    </div>
                                    <div class="m-2">
                                        <img src="./img/email.png" alt="email" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 mb-2 d-inline"><small>user@email.com</small></p>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-1">
                                            <a href="#" class=""><img src="./img/prev.png" alt="" width="50rem" height="50rem"></a>
                                        </div>
                                        <div class="col-2 offset-7">
                                            <a href="#" class=""><img src="./img/next.png" alt="" width="50rem" height="50rem"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-lg bg-success rounded1" style="max-width: 25vw;overflow: scroll;max-height: 100vh;">
                        <h4 class="text-center mt-2">Done</h4>
                        <hr>
                        <div class="card-body">
                            <div class="card text-dark bg-light mb-3 shadow-lg">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm">
                                            Title
                                        </div>
                                        <div class="col-sm offset-3">
                                            <a href="#" class="m-1"><img src="./img/edit.png" alt="edit" width="25rem" height="25rem"></a>
                                            <a href="#" class="m-1"><img src="./img/delete.png" alt="edit" width="25rem" height="25rem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-dark">Description:</p>
                                    <p class="card-text text-dark">Deadline:</p>
                                    <div class="m-2">
                                        <img src="./img/person.png" alt="person" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 d-inline"><small>username</small></p>
                                    </div>
                                    <div class="m-2">
                                        <img src="./img/email.png" alt="email" width="20rem" height="20rem">
                                        <p class="card-text text-dark m-0 mb-2 d-inline"><small>user@email.com</small></p>
                                    </div>
                                    <a href="#" class="d-block d-flex justify-content-start mt-3"><img src="./img/prev.png" alt="" width="50rem" height="50rem"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT TASK -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./main.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
</body>
</html>